input[type="text"], select, input[type="date"], input[type="file"] {
    width:20%;
    min-width:300px;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.progress-bar {
    width: 100%;
}
.page {
    width: 100%;
}

.disabled {
    visibility: hidden;
    cursor: default;
}

.hoverable {
    position: relative;
    display: block;
    cursor: pointer;
    height: 200px;
    width: 200px;
    border: 1px solid green;
    border-radius: 50%;
}

.hoverable .hover-text {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.hoverable .background {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    border-radius: 50%;
    z-index: 1;
}

.hoverable:hover .hover-text {
    display: block;
}

.hoverable:hover .background {
    display: block;
}

#fileInput {
    display: none;
}


.container {
    max-width: 100% !important;
}
