<div class="login-container">
  <form class="form-container" [formGroup]="loginForm">
    <header>
      <h2>
      Login 
      </h2>
      <h3>Not registered? Register <a>here</a>
      </h3>
    </header>
    <section>
      <div>
        <label for="email">Email:</label>
        <input type="text" formControlName="email">
      </div>
      <div>
        <label for="email">Password:</label>
        <input type="text" formControlName="password">
      </div>
      <div>
        <label for="confirm-password">Confirm Password:</label>
        <input type="text" formControlName="confirmPassword">
      </div>
      <button (click)="onSubmit()">Login</button>
  </section>
  </form>
</div>
