<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <header>
        Hello {{ email }}! Welcome to my project management app
    </header>
    <body>
        Please click <a href={{link}}>here</a> to sign up your account.
        This link only exits in 3 hours.
    </body>
</body>
</html>