.tab-pane {

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

button[aria-selected="true"] {
    color: blue !important;
}

button[aria-selected="false"] {
    color: black !important;
}

input.noChange {
    background-color: lightgray;
}

.hoverable {
    position: relative;
    display: block;
    cursor: pointer;
    height: 200px;
    width: 200px;
    border: 1px solid blue;
    border-radius: 50%;
}

.hoverable .hover-text {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.hoverable .background {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    border-radius: 50%;
    z-index: 1;
}