<div class="container mt-5" style="width:70%">
    <div>
        <h1>HR Console</h1>
    </div>

    <div class="card shadow mt-5">
        <div class="card-body p-4">
            <h4 class="mb-3">Send Invitation</h4>
            <p>Enter an email below to send them an invitation link to the onboarding process.</p>
            <form class="form " [formGroup]="emailInviteForm">
                <input class="form-control mb-2" type="text" formControlName="email" style="width:30%;min-width: 200px">
                <button (click)="onInvite()" class="btn btn-primary ">Send Invite</button>
            </form>
        </div>
    </div>

    <div class="card shadow mt-5 mb-5">
        <div class="card-body p-4">
            <h4 class="mb-3">Review Onboarding Employees</h4>
            <div class="d-flex">
                <ul class="nav flex-column mr-3">
                    <li class="nav-item">
                    <button class="btn nav-link btn-light" (click)="onSelectOnboardingApplicationList('Pending')" style="color:goldenrod">Pending</button>
                    </li>
                    <li class="nav-item">
                    <button class="btn nav-link btn-light" (click)="onSelectOnboardingApplicationList('Rejected')" style="color:red">Rejected</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn nav-link btn-light" (click)="onSelectOnboardingApplicationList('Approved')" style="color:green">Approved</button>
                    </li>
                </ul>
                <div class="flex-column">
                    <table class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let employee of employeeListByCategory; let index = index">
                                <td>
                                    {{index + 1}}
                                </td>
                                <td>
                                    {{employee?.user?.firstName}} {{employee?.user?.lastName}}
                                </td>
                                <td>
                                    {{employee.email}}
                                </td>
                                <td>
                                    <a class="btn btn-secondary" href="/hr/hiringManagement/{{employee._id}}" target="_blank">View</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
            