.house {
  flex-basis: 25%;
  &:hover {
    background-color: #E0E0E0;
  }
}

.address {
  height: 60px;
}

.btn-xs {
  min-width: 1em;
  padding: .25em;
  margin-left: .1em;
  margin-right: .1em;
  font-size: x-small;
  cursor: pointer;
}