<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="card shadow" style="width:100%;">
        <div class="card-body">
            <h1 class="text-center">Visa Management</h1>
            <ul class="nav justify-content-center nav-tabs">
                <li class="nav-item">
                    <button class="btn nav-link" (click)="setTab('inprocess')">In Process</button>
                </li>
                <li class="nav-item">
                    <button class="btn nav-link" (click)="setTab('all')">All</button>
                </li>
            </ul>

            <div *ngIf="tab == 'inprocess'">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Full name</th>
                            <th>Work Authorization</th>
                            <th>Next steps</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employee of employeeList$ | async; let index = index">
                            <!-- Only see employee with visa status need actions -->
                            <div *ngIf="!(employee?.user?.legalStatus?.isCompleted ||
                                employee?.user?.legalStatus?.status=='Green Card' ||
                                employee?.user?.legalStatus?.status=='Citizen' ); then needAction">
                            </div>
                            <ng-template #needAction>

                                <td>
                                    {{index + 1}}
                                </td>
                                <td *ngIf="employee?.user?.onboardingStatus != 'Never submitted';">
                                    {{employee?.user?.firstName}} {{employee?.user?.lastName}}
                                </td>
                                <td *ngIf="employee?.user?.onboardingStatus == 'Never submitted';">
                                    {{employee.email}}
                                </td>
                                <td>
                                    {{employee?.user?.legalStatus?.status}}
                                </td>
    
                                <!-- If onboardingStatus == Never submitted -->
                                <div
                                    *ngIf="employee?.user?.onboardingStatus == 'Never submitted';then checkOnboarding else checkWorkStatus">
                                    Submit Onboarding Application</div>
    
                                <ng-template #checkOnboarding>
                                    <td>Submit Onboarding Application</td>
                                    <td><button class="btn btn-outline-primary">Send Notification</button></td>
                                </ng-template>
    
                                <!-- Submit the OPT document and wait for HR to approve -->
                                <ng-template #checkWorkStatus>
                                    <div *ngIf="(employee?.user?.legalStatus?.isCompleted || employee?.user?.legalStatus?.status == 'Green Card'
                                    || employee?.user?.legalStatus?.status == 'Citizen'
                                    ); then complete else needApproveFile">
                                    </div>
                                </ng-template>
                                <ng-template #complete>
                                    <td>Completed, no more action required</td>
                                    <td>View Detail</td>
                                </ng-template>
                                <ng-template #needApproveFile>
                                    <td>
                                        <p>Wait for HR to approve</p>
                                    </td>
                                    <td>
                                        <div *ngFor="let file of employee?.user.legalStatus.workStatus.fileUpload">
                                            <button class="btn btn-info" (click)="getFile(file.fileUrl)">See
                                                Document</button>
                                            <form [formGroup]="feedbackForm">
                                                <div class="form-row">
                                                    <div class="col">
                                                        <label for="message" class="form-label">Message <b
                                                                style="color:red">*</b></label>
                                                        <textarea class="form-control" name="message" id="message" cols="30"
                                                            rows="3" style="width: 100%;"
                                                            formControlName="message"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-row m-4">
                                                    <div class="col text-center">
                                                        <button type="button" class="btn btn-outline-danger"
                                                            (click)="onSubmit('Rejected', file.fileUrl, employee._id)">Reject</button>
                                                    </div>
                                                    <div class="col text-center">
                                                        <button type="button" class="btn btn-outline-primary"
                                                            (click)="onSubmit('Approved', file.fileUrl, employee._id)">Approve</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </td>
                                </ng-template>
                            </ng-template>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div *ngIf="tab == 'all'" class="d-flex">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Full name</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employee of employeeList$ | async; let index = index">
                            <td>
                                {{index + 1}}
                            </td>
                            <td>
                                {{employee?.user?.firstName}} {{employee?.user?.lastName}}
                            </td>
                            <td>
                                {{employee.email}}
                            </td>
                            <td>
                                <a class="btn btn-secondary" href="/hr/hiringManagement/{{employee._id}}"
                                    target="_blank">View Details</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>