<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="card shadow" style="width:100%;">
        <div class="card-body">
            <h1 class="text-center">Visa Management</h1>
            <ul class="nav justify-content-center nav-tabs">
                <li class="nav-item">
                    <button class="btn nav-link" (click)="setTab('inprocess')">In Process</button>
                </li>
                <li class="nav-item">
                    <button class="btn nav-link" (click)="setTab('all')">All</button>
                </li>
            </ul>

            <div *ngIf="tab == 'inprocess'">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Full name</th>
                            <th>Work Authorization</th>
                            <th>Next steps</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employee of employeeList$ | async; let index = index">

                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Document</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div
                                                *ngIf="employee?.user?.legalStatus?.workStatus?.fileUpload?.length == 0; else nextBlock">
                                                <p>No file has been updated yet</p>
                                            </div>

                                            <ng-template #nextBlock>
                                                <div
                                                    *ngFor="let file of employee?.user.legalStatus.workStatus.fileUpload">
                                                    <button class="btn btn-info" (click)="getFile(file.fileUrl)">See
                                                        Document
                                                    </button>
                                                    <form [formGroup]="feedbackForm">
                                                        <div class="form-row">
                                                            <div class="col">
                                                                <label for="message" class="form-label">Message <b
                                                                        style="color:red">*</b></label>
                                                                <textarea class="form-control" name="message"
                                                                    id="message" cols="30" rows="3" style="width: 100%;"
                                                                    formControlName="message"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-row m-4">
                                                            <div class="col text-center">
                                                                <button type="button" class="btn btn-outline-danger"
                                                                    (click)="updateFileStatus(employee._id, file.fileUrl, 'Rejected')">Reject</button>
                                                            </div>
                                                            <div class="col text-center">
                                                                <button type="button" class="btn btn-outline-primary"
                                                                    (click)="updateFileStatus(employee._id, file.fileUrl, 'Approved')">Approve</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </ng-template>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Only see employee with visa status need actions -->
                            <div
                                *ngIf="( !(employee?.user?.legalStatus?.isCompleted || employee?.user?.legalStatus?.status=='Green Card' || employee?.user?.legalStatus?.status=='Citizen') || (employee?.user?.onboardingStatus == 'Never submitted')); then needAction">
                            </div>
                            <ng-template #needAction>
                                <td>
                                    {{index + 1}}
                                </td>
                                <td *ngIf="employee?.user?.onboardingStatus != 'Never submitted';">
                                    {{employee?.user?.firstName}} {{employee?.user?.lastName}}
                                </td>
                                <td *ngIf="employee?.user?.onboardingStatus == 'Never submitted';">
                                    {{employee.email}}
                                </td>
                                <td>
                                    {{employee?.user?.legalStatus?.status}}
                                </td>

                                <!-- If onboardingStatus == Never submitted -->
                                <div
                                    *ngIf="employee?.user?.onboardingStatus == 'Never submitted';then checkOnboarding else checkWorkStatus">
                                    Submit Onboarding Application</div>

                                <ng-template #checkOnboarding>
                                    <td>Submit Onboarding Application</td>
                                    <td><button class="btn btn-outline-primary"
                                            (click)="sendNotification(employee.email)">Send Notification</button></td>
                                </ng-template>

                                <!-- Submit the OPT document and wait for HR to approve -->
                                <ng-template #checkWorkStatus>
                                    <div *ngIf="(employee?.user?.legalStatus?.isCompleted || employee?.user?.legalStatus?.status == 'Green Card'
                                    || employee?.user?.legalStatus?.status == 'Citizen'
                                    ); then complete else needApproveFile">
                                    </div>
                                </ng-template>
                                <ng-template #complete>
                                    <td>Completed, no more action required</td>
                                    <td>View Detail</td>
                                </ng-template>
                                <ng-template #needApproveFile>
                                    <td>
                                        <p>Wait for HR to approve</p>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                            data-bs-target="#staticBackdrop">
                                            See Details
                                        </button>
                                    </td>
                                </ng-template>
                            </ng-template>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div *ngIf="tab == 'all'" class="d-flex">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Full name</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employee of employeeList$ | async; let index = index">
                            <td>
                                {{index + 1}}
                            </td>
                            <td>
                                {{employee?.user?.firstName}} {{employee?.user?.lastName}}
                            </td>
                            <td>
                                {{employee.email}}
                            </td>
                            <td>
                                <a class="btn btn-secondary" href="/hr/hiringManagement/{{employee._id}}"
                                    target="_blank">View Details</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>