<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="card shadow" style="width:60rem;">
        <div class="card-body">
            <h1 class="text-center">Debug Menu</h1>

            <h3>Quick Access</h3>
            <ul>
                <li><a href="/employee">employee home</a></li>
                <li><a href="/register">register form</a></li>
                <li><a href="/login">login form</a></li>
                <li><a href="/hr/hiringManagement">hiring</a></li>
                <li><a href="/employee/boarding">employee onboarding app</a></li>
            </ul>
        </div>
    </div>
</div>